.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #edf2f4;
}

.calculator {
  background: #1a1a28;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px; 
}

/* ------------
 *   Buttons
 * ------------
 */

.btn {
  height: 75px;
  width: 75px;
  border: none;
  border-radius: 3px;
  background: #8d99ae;
}

.btn-secondary {
  background: #2b2d42;
}

.btn-clear,
.btn-backspace {
  background:#e94560;
}

/* ------------
 * Display Area
 * ------------
 */

.display-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
  margin-bottom: 10px;
  padding-right: 10px;
  font-size: 36px;
  font-weight: bold;
  color: #e94560;
  background: #2b2d42;
  border-radius: 3px;
}
